{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наши коллеги</title>
    <link rel="stylesheet" href="{% static 'style4.css' %}">
</head>
<body>
    <header>
        <h1>Наши Работники</h1>
    </header>

<div class="container disp">
    <section id="about">
        <div class="container-text">
            <div class="container-img">
                <h2 class="logo-btn">Кто мы</h2>
                <p class="logo-text">Мы - команда профессионалов, стремящихся предоставить лучшие услуги и инновационные решения для наших клиентов. Наша миссия - быть лидером в отрасли, предоставляя высококачественные продукты и услуги.</p>
            </div>
        </div>
    </section>

    <section id="technicians">
        <div class="container-logo">
            <h2 class="button">Наши технологические специалисты</h2>
        </div>
        <ul>
            <li class="logo">
                <div class="container-img">
                    <h3 class="logo-btn">Иван Иванов</h3>
                <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQeX0p0Q-IBnKLoCcZPbsxNhliIajF5xKA6Q&s">
                <p class="logo-text">Специалист по электронике с 10-летним опытом работы.<br>
                    Кандидат технических наук: МИЭМ, специальность 05.13.12<br>
                    «Системы автоматизации проектирования», тема диссертации:<br>
                    Метод автоматизированного проектирования контролепригодных электронных средств
                </p>
                </div>
            </li>
            <li class="logo">
                <div class="container-img">
                    <h3 class="logo-btn">Николай Виктор</h3>
                <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVe3n2axJrZCVPfrdXbBfEEXbpkPY7x64zIagOQVUoes4lFPZeUYL4BY5zXpyuNfGuALk&usqp=CAU">
                <p class="logo-text">Инженер-программист, эксперт в области разработки ПО.<br>
                    Специалист в области программного обеспечения, автоматизации<br>
                    производственных процессов, проектирования компьютерных программ<br>
                    и технологий, обеспечивающий решение экономических и других задач<br>
                    разрабатываемым программным обеспечением и средствами вычислительной техники.
                </p>
                </div>
            </li>
            <li class="logo">
                <div class="container-img">
                    <h3 class="logo-btn">Сергей Петров</h3>
                <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYudxiIEB63tB34eEdyHcgh5cpivK0jnR5wDHhzpuOBOnlAe6BtLChk5GFT1hONmgsAeY&usqp=CAU">
                <p class="logo-text">Техник по обслуживанию сетевого оборудования с сертификатами Cisco.<br>
                    Одна из наиболее востребованных и популярных компаний Cisco является<br>
                    американским производителем, который занимается разработкой, созданием<br>
                    и продажей сетевого и коммуникационного оборудования для промышленных и<br>
                    коммерческих предприятий и организаций. Транснациональная компания также<br>
                    специализируется на создании инновационных сертификатов, средств и программ,
                </p>
                </div>
            </li>
            <li class="logo">
                <div class="container-img">
                    <h3 class="logo-btn">Алексей Сидоров</h3>
                <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuZH4ogsWwCBDxcMus_HdU15StdfKrs47DQPMhZxCKO46UB5hyhrdpTcuJUpAfITVbuK4&usqp=CAU">
                <p class="logo-text">Инженер по автоматизации процессов с глубокими знаниями в области IoT. <br>
                    Профессии Профессии машиностроения, робототехники, инженергого дела<br>
                    Профессия инженер по автоматизации технологических процессов и производств 149<br>
                    программ обучения 195 вузов Программы 149 Вузы 195 Связанные профессии 3<br>
                    О профессии инженера по автоматизации технологических процессов и производств<br>
                    Профессии в инжиниринге Профессии в машиностроении Профессии инженерные<br>
                    Профессии на производстве Профессии связанные с автоматизацией Еще 12<br>
                    Инженер по автоматизации технологических процессов и производств — это специалист,<br>
                    который занимается разработкой, внедрением и поддержкой систем автоматизации и<br>
                    управления в промышленных предприятиях. Основная задача инженера по автоматизации —<br>
                    повышение эффективности производственных процессов за счет применения современных<br>
                    автоматизированных систем, что включает в себя роботизацию, использование программируемых<br>
                    логических контроллеров (ПЛК), SCADA-систем, систем промышленной автоматизации. Этот<br>
                    специалист разрабатывает и внедряет системы автоматизации для различных отраслей!
                </p>
                </div>
            </li>
            <li class="logo">
                <div class="container-img">
                    <h3 class="logo-btn">Мария Кузнецова</h3>
                <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvUsWcQLPoVlYDU1xvPYTTTSy_CrKulC51N-EtbdVlfgEspMm9Abq-w4tEuNtOWH7f088&usqp=CAU">
                <p class="logo-text">Специалист по кибербезопасности, сертифицированный эксперт по безопасности данных.<br>
                    Этот специалист ИБ отвечает за проектирование, создание и внедрение систем обеспечения<br>
                    информационной безопасности в компании. В их числе – системы антивирусной защиты, защиты<br>
                    от целенаправленных атак, от распредёленных атак типа «отказ в обслуживании» (DDoS)!
                </p>
                </div>
            </li>
        </ul>
    </section>
</div>

    <footer>
        <p>&copy; 2024 Все права защищены</p>
    </footer>
</body>
</html>
