{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спасибо за регистрацию</title>
    <link rel="stylesheet" href="{% static 'style3.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Спасибо за регистрацию!</h1>
            <p>Мы рады приветствовать вас в нашем сообществе. Проверяйте свою электронную почту для дальнейших инструкций.</p>
            <button onclick="location.href='/'">На главную</button>
        </div>
    </div>
</body>
</html>
